<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khang's Portfolio</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/fonts/font.css">
    <!-- <link rel="stylesheet" href="./responsive.css"> -->
    <link rel="stylesheet" href="./timeline.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <!-- header area -->
    <header id="header">
        <div class="row m-0">
            <div class="col-3 bgcolor-black">
                <nav class="primary-nav navbar-expand-md">
                    <div class="site-title text-center text-light py-5">
                        <a href="#home" class="navbar-brand font-staat font-size-34"> Khang Tran</a>
                        <p class="description font-os">I'm Khang</p>
                    </div>

                    <div class="d-flex flex-column">
                        <a class="nav-item nav-link text-white-50 font-os font-size-16 active" href="#home">Home</a>
                        <a class="nav-item nav-link text-white-50 font-os font-size-16 active" href="#about_me">About
                            Me</a>
                        <a class="nav-item nav-link text-white-50 font-os font-size-16 active"
                            href="#experience">Experience</a>
                        <a class="nav-item nav-link text-white-50 font-os font-size-16 active"
                            href="#projects_demo">Projects Demo</a>
                        <a class="nav-item nav-link text-white-50 font-os font-size-16 active" href="#footer">Contact
                            Me</a>
                        <a class="nav-item nav-link text-white-50 font-os font-size-16 active"
                            href="bang_diem/">Academic Transcript</a>
                    </div>
                </nav>
            </div>
        </div>
        <button class="toggle-button"><span class="fas fa-bars fa-2x"></span></button>
        <div class="social">
            <span class="mr-3"><i class="fab fa-facebook-f"></i></span>
            <span class="mr-3"><i class="fab fa-twitter"></i></span>
            <span class="mr-3"><i class="fab fa-instagram"></i></span>
            <span class="mr-3"><i class="fab fa-youtube"></i></span>
        </div>
    </header>
    <!-- #header area -->

    <main id="site-main">
        <div class="row m-0">
            <div class="col-md-9 offset-md-3 px-0">

                <!-- site-banner area -->
                <section class="site-banner" id="home">
                    <div class="banner-area">
                        <div class="author text-center">
                            <div class="author-img"></div>
                            <h1 class="text-white font-staat font-size-40 text-uppercase py-3">Tran Minh Khang</h1>
                            <h5 class="text-white font-ram font-size-27">I'm <span id="typed"></span></h5>
                        </div>

                        <div id="mouse_icon"></div>
                    </div>
                </section>
                <!-- #site-banner area -->

                <!-- about me area -->
                <section class="about px-4 my-5" id="about_me" style="margin-top: 0px;">
                    <div class="me py-5">
                        <h5 class="text-uppercase font-os font-size-16 text-muted">information</h5>
                        <h1 class="text-uppercase font-staat font-size-34">About Me</h1>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-5 pl-0">
                            <img src="./assets/about.jpeg" alt="profile image" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-uppercase font-os font-size-16 text-muted">About Me</h6>
                            <h5 class="font-ram font-size-20 py-2">I'm Minh Khang & <span id="typed_2"></span></h5>
                            <p class="font-ram text-black-50 py-2 text-justify">
                                Hi, My name is Khang. I am a Web Developer and freelancer. I
                                discovered my passion for Web Development after a period of time
                                that I dived into a bunch of things. I jumped into a various languages
                                and move to another after a certain time. It's just a process of trial
                                and error which I willing to try new and unfamiliar things to discover the thing
                                that I would like to live with my career. On that journey, I throw myself into
                                a numerous fields like Windows Forms Application, Computer Vision, and even Machine
                                Learning.
                                I give myself a try with many things, but I do not have any insight into specific field.
                                I used to think that Information Technology is not right for me until I discovered Web
                                Development.
                                From that moment, I've put months of my life in on Web Development to get to know and
                                live with it.
                                I hope that I could notice Web Development sooner as possible in my life, but it did not
                                make me regret.
                                Because on that journey, I could learn a lot of things, specially the way that adapting
                                and dealing with new things.
                                I strongly beleive that it will help me out to stay in control in the ever-changing
                                world of technology.
                            </p>
                            <blockquote class="blockquote text-right">
                                <p class="mb-0 font-ram text-black-50 font-italic">I am the type of person if you ask me
                                    a question and I do not know the answer,
                                    I am going to tell you that I do not know. But I bet you what. I know how to find
                                    the answer,
                                    and I will find the answer.
                                </p>
                                <footer class="blockquote-footer">Chris Gardner in <cite title="Source Title">The
                                        Pursuit of Happyness</cite></footer>
                            </blockquote>

                            <div class="d-flex flex-row flex-wrap justify-content-between py-4">
                                <div class="d-flex flex-column">
                                    <p class="font-ram"><b>Birthday: </b><span class="text-black-50">01 August
                                            1998</span></p>
                                    <p class="font-ram"><b>Github: </b><span
                                            class="text-black-50">github.com/tranminhkhang8198</span></p>
                                    <p class="font-ram"><b>Phone: </b><span class="text-black-50">+84 939-127-356</span>
                                    </p>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="font-ram"><b>Degree: </b><span class="text-black-50">Bachelor</span></p>
                                    <p class="font-ram"><b>Mail: </b><span
                                            class="text-black-50">minhkhang811998@gmail.com</span></p>
                                    <p class="font-ram"><b>Facebook: </b><span
                                            class="text-black-50">fb.com/minhkhang080198</span></p>
                                </div>
                            </div>
                            <button class="button text-uppercase mr-3 float-right mb-1">Download CV</button>
                            <a href="bang_diem/" class="button text-uppercase mr-3 float-right">Academic Transcript</a>
                        </div>
                    </div>
                </section>
                <!-- #about me area -->

                <!-- ability -->
                <section class="skill px-4 py-5 bg-light" id="services">
                    <div class="ability py-3">
                        <h5 class="text-uppercase font-os font-size-16 text-muted">Ability</h5>
                        <h1 class="text-uppercase font-staat font-size-34">My skills</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pl-4">
                            <p class="font-ram font-size-20">
                                Self-study
                                <span class="fa fa-child" style="margin-bottom: 1px;"></span>
                            </p>

                            <p class="font-ram text-black-50 text-justify">
                                <span class="fa fa-check"></span>
                                Belong studying at school, I spend most of my time to take advantage of Web Development
                                by taking various courses on Udemy about HTML, CSS, Javascript, NodeJS,...
                            </p>
                            <p class="font-ram text-black-50 pb-3 text-justify">
                                <span class="fa fa-check"></span>
                                I really put my foot in my projects at school with all my effort instead of just passing
                                the exams.
                            </p>

                            <p class="font-ram font-size-20">
                                Team-work
                                <span class="fa fa-child" style="margin-bottom: 1.5px;"></span><span class="fa fa-child"
                                    style="margin-bottom: 1.5px;"></span><span class="fa fa-child"
                                    style="margin-bottom: 1.5px;"></span>
                            </p>
                            <p class="font-ram text-black-50 text-justify">
                                I have a chance to take part in a lot of projects with my classmates and also my
                                university lecturer.
                                Each project, I gained a lot of worth experience that I would not know if I just spent
                                time studying at school.

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Teamwork skill: doing projects with numerous of different people helps me improving
                                    my communication skills and
                                    integrate with other people more easily.
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Aware of the importance of clean code for maintaining purpose.
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Knowing the way that start a project from scatch with step by step like gathering
                                    customer requirements, planing, designing database,
                                    coding and testing.
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Being aware of database importance, therefore spending more time on analysing and
                                    designing database.
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Knowing how to use Git and Github for project management and integrate with other
                                    members.
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Knowing how to create API Documentation to help Font-End and Back-End communicate
                                    more easily.
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Knowing more about security like JWT, Authentication, Authorization,... and hacking
                                    method like Phishing, SQL Injection, Cross Site Scripting (XSS),...
                                </p>

                                <p class="font-ram text-black-50 text-justify">
                                    <span class="fa fa-check"></span>
                                    Improving my self-learning skill and research skill.
                                </p>
                            </p>
                        </div>
                        <div class="col-md-6 bars">
                            <div class="bar-1 mb-4">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <p class="font-ram font-size-18">HTML <span class="fas fa-code"></span></p>
                                    <span class="font-ram font-size-16">75%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:75%"></div>
                                </div>
                            </div>

                            <div class="bar-2 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">CSS <span class="fab fa-css3"></span></p>
                                    <span class="font-ram font-size-16">70%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:70%"></div>
                                </div>
                            </div>

                            <div class="bar-2 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">Bootstrap <span class="fab fa-bootstrap"></span></p>
                                    <span class="font-ram font-size-16">70%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:70%"></div>
                                </div>
                            </div>

                            <div class="bar-3 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">Javascript <span class="fab fa-js-square"></span>
                                    </p>
                                    <span class="font-ram font-size-16">80%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:80%"></div>
                                </div>
                            </div>
                            
                            <div class="bar-3 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">VueJS <span class="fab fa-vuejs"></span>
                                    </p>
                                    <span class="font-ram font-size-16">80%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:80%"></div>
                                </div>
                            </div>

                            <div class="bar-3 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">NodeJS <span class="fab fa-node"></span></p>
                                    <span class="font-ram font-size-16">85%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:85%"></div>
                                </div>
                            </div>

                            <div class="bar-3 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">MongDB & Mongoose <span
                                            class="fa fa-database"></span></p>
                                    <span class="font-ram font-size-16">85%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:85%"></div>
                                </div>
                            </div>

                            <div class="bar-3 mb-4">
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="font-ram font-size-18">Git <span class="fab fa-github"></span></p>
                                    <span class="font-ram font-size-16">80%</span>
                                </div>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bgcolor-black" role="progressbar" style="width:80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #ability -->


                <!--projects-->
                <section id="experience" class="about px-4 my-3">
                    <div class="me py-5">
                        <h5 class="text-uppercase font-os font-size-16 text-muted">exprience</h5>
                        <h1 class="text-uppercase font-staat font-size-34">Experience</h1>
                    </div>
                      <ul class="timeline" v-for="(item, index) in data" :key="index">
                        <li class="timeline-event">
                          <label class="timeline-event-icon"></label>
                          <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">April 2019 - December 2019</p>
                            <h3 class="mb-4">Scientific Research: Applying Computer Vision to Smart Camera</h3>
                            <!-- <h4>designer und autor</h4> -->
                  
                            <div class="description font-ram">
                              <div class="font-size-20">
                                <div class="row mb-3">
                                  <div class="col-md-6">
                                    <span class="fas fa-file-medical-alt"></span>
                                    Description
                                  </div>
                                  <div class="col-md-6" v-if="show">
                                    <span class="fas fa-users"></span>
                                    Members:
                                    <span class="text-black-50">5 people</span>
                                  </div>
                                </div>
                              </div>
                              <div class="ml-3 text-black-50">
                                <p class="m-0">Applying Computer Vision on Raspberry Pi for detecting and tracking people.</p>
                                <p class="mt-0">Keeping specific person always in the middle of the video frame by rotating camera with servos.</p>
                              </div>
                            </div>
                            <div class="technology">
                              <div class="row">
                                <div class="col-md-6 font-ram">
                                  <div class="font-size-20">
                                    <span class="fas fa-microchip"></span>
                                    Technology
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Python
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Deep Neural Networks (DNN) module
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    OpenCV Library
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Dlib's face detector
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    GPIO.pi module for controlling and rotating servos
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    ImageZMQ for live video streaming from Raspberry Pi to server
                                  </div>
                                </div>
                                <div class="col-md-6 font-ram" id="responsiblilty">
                                  <div class="font-size-20">
                                    <span class="fas fa-user-shield"></span>
                                    Responsibility
                                  </div>
                  
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Setting up Raspberry Pi
                                  </div>

                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Design and assemble model for connecting Raspberry Pi, camera and servos
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Creating module for detecting and tracking
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Creating module for controlling and rotating servos
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <!-- ///////////////////////////////////////////////////////////////////////////// -->
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                              <p class="timeline-event-thumbnail">September 2019 - December 2019</p>
                              <h3 class="mb-4">Image Captioning</h3>
                              <!-- <h4>designer und autor</h4> -->
                    
                              <div class="description font-ram">
                                <div class="font-size-20">
                                  <div class="row mb-3">
                                    <div class="col-md-6">
                                      <span class="fas fa-file-medical-alt"></span>
                                      Description
                                    </div>
                                    <div class="col-md-6" v-if="show">
                                      <span class="fas fa-users"></span>
                                      Members:
                                      <span class="text-black-50">5 people</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="ml-3 text-black-50">
                                  <p class="m-0">Building model for predict caption for image with Vietnamese caption.</p>
                                  <p class="mt-0 mb-0">Setting up image captioning model on server to predict caption for image from Raspberry Pi Camera.</p>
                                  <p class="mt-0">Sending caption back from server to Raspberry Pi in order to speak out loud by speaker.</p>
                                </div>
                              </div>
                              <div class="technology">
                                <div class="row">
                                  <div class="col-md-6 font-ram">
                                    <div class="font-size-20">
                                      <span class="fas fa-microchip"></span>
                                      Technology
                                    </div>
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Python
                                    </div>
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Convolutional neural network (CNN)
                                    </div>
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Recurrent neural network (RNN)
                                    </div>
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Word Embedding
                                    </div>
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      ImageZMQ for sending image from Raspberry Pi Camera to server
                                    </div>
                                  </div>
                                  <div class="col-md-6 font-ram" id="responsiblilty">
                                    <div class="font-size-20">
                                      <span class="fas fa-user-shield"></span>
                                      Responsibility
                                    </div>
                    
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Gathering and pre-processing dataset
                                    </div>
  
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Training model for predict caption
                                    </div>
                                    <div
                                      class="ml-3 mt-3 text-black-50"
                                    >
                                      <span class="fas fa-bolt"></span>
                                      Setting up environment for connection between server and Raspberry Pi.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>

                        <li class="timeline-event">
                          <label class="timeline-event-icon"></label>
                          <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">September 2019 - November 2019</p>
                            <h3 class="mb-4">Freelance: Sport Live Streaming Web Application</h3>
                            <!-- <h4>designer und autor</h4> -->
                  
                            <div class="description font-ram">
                              <div class="font-size-20">
                                <div class="row mb-3">
                                  <div class="col-md-6">
                                    <span class="fas fa-file-medical-alt"></span>
                                    Description
                                  </div>
                                  <div class="col-md-6" v-if="show">
                                    <span class="fas fa-users"></span>
                                    Members:
                                    <span class="text-black-50">3 people</span>
                                  </div>
                                </div>
                              </div>
                              <div class="ml-3 text-black-50">
                                <p class="m-0">Developing sport live streaming web application using HTTP Live Streaming FFMPEG</p>
                              </div>
                            </div>
                            <div class="technology">
                              <div class="row">
                                <div class="col-md-6 font-ram">
                                  <div class="font-size-20">
                                    <span class="fas fa-microchip"></span>
                                    Technology
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    NGINX - RTMP module
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span> 
                                  FFMPEG</div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span> 
                                  MVC Model</div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span>
                                  HTML, CSS, SASS</div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span>Bootstrap 4
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span>
                                  Javascript, AJAX
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span>
                                  NodeJS, ExpressJS
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span>
                                  MongoDB & Mongoose
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                  <span class="fas fa-bolt"></span>
                                  Pug View Engine
                                  </div>
                                </div>
                                <div class="col-md-6 font-ram" id="responsiblilty">
                                  <div class="font-size-20">
                                    <span class="fas fa-user-shield"></span>
                                    Responsibility
                                  </div>
                  
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Database analysis
                                  </div>

                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Database design
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Backend Developer
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <!-- ///////////////////////////////////////////////////////////////////////////// -->

                        <li class="timeline-event">
                          <label class="timeline-event-icon"></label>
                          <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">December 2019 - Current</p>
                            <h3 class="mb-4">Agricutural Cooperatives 4.0</h3>
                            <!-- <h4>designer und autor</h4> -->
                  
                            <div class="description font-ram">
                              <div class="font-size-20">
                                <div class="row mb-3">
                                  <div class="col-md-6">
                                    <span class="fas fa-file-medical-alt"></span>
                                    Description
                                  </div>
                                  <div class="col-md-6" v-if="show">
                                    <span class="fas fa-users"></span>
                                    Members:
                                    <span class="text-black-50">8 people</span>
                                  </div>
                                </div>
                              </div>
                              <div class="ml-3 text-black-50">
                                <p class="m-0">Developing a system for agricutural production managing and diary logging.</p>
                                <p class="mt-0 mb-0">Web application for managing all facilies like plant production product, fertilizer, medical instrument,...</p>
                                <p class="mt-0">Mobile application for logging all production diary of farmers.</p>
                              </div>
                            </div>
                            <div class="technology">
                              <div class="row">
                                <div class="col-md-6 font-ram">
                                  <div class="font-size-20">
                                    <span class="fas fa-microchip"></span>
                                    Technology
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    NodeJS
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    ExpressJS
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    ReactJS
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Bootstrap 4
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    MongoDB
                                  </div>
                                </div>
                                <div class="col-md-6 font-ram" id="responsiblilty">
                                  <div class="font-size-20">
                                    <span class="fas fa-user-shield"></span>
                                    Responsibility
                                  </div>
                  
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Database analysis
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Database design
                                  </div>
                                  <div
                                    class="ml-3 mt-3 text-black-50"
                                  >
                                    <span class="fas fa-bolt"></span>
                                    Backend develop
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        
                      </ul>
                </section>
                <!--#projects-->

                <!--projects demo-->
                <section id="projects_demo" class="skill px-4 py-5 bg-light">
                    <div class="ability py-3">
                        <h5 class="text-uppercase font-os font-size-16 text-muted">projects</h5>
                        <h1 class="text-uppercase font-staat font-size-34">Projects Demo</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-4 my-3">
                            <div class="card border-0">
                                <div class="overlay">
                                    <img src="./assets/projects/research/thumbnail.png" alt="news1"
                                        class="image card-img-top">
                                    <div class="middle">
                                        <a href="#demo_research" class="button more video-btn" data-toggle="modal"
                                            data-src="https://www.youtube.com/embed/5yhcqrR-CDs" data-target="#myModal">
                                            Demo <i class="fa fa-play-circle" aria-hidden="true">&nbsp;</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="font-ram font-size-16 text-black-50">in
                                        <b class="text-uppercase text-dark">April - December 2019</b>
                                    </p>
                                    <h5 class="card-title font-ram">Scientific Research</h5>
                                    <p class="card-text text-black-50">
                                        Applying Computer Vision on Raspberry Pi for automatic camera
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <!-- 16:9 aspect ratio -->
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="" id="video"
                                            allowscriptaccess="always" allow="autoplay"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--#projects demo-->
                <footer id="footer" class="pt-5 px-3">
                    <div id="contact_us">
                        <div class="py-3 px-2">
                            <h5 class="text-uppercase font-os font-size-16 text-muted">Location</h5>
                            <h1 class="text-uppercase font-staat font-size-34">Contact Me</h1>
                        </div>


                        <div class="row py-5">
                            <div class="col-md-6 pl-4">
                                <p class="font-ram font-size-18 text-black-50 mb-5">
                                    Please contact me if I meet most of your
                                    company requirements. I hope I will be a part of your company in the furture.
                                    <span class="fas fa-heart"></span>
                                    <span class="fas fa-heart"></span>
                                    <span class="fas fa-heart"></span>
                                </p>

                                <p class="font-ram font-size-18 text-black-50">
                                    <span class="fas fa-phone-square"></span>
                                    PHONE: +84 939-127-356
                                </p>
                                <p class="font-ram font-size-18 text-black-50">
                                    <span class="fas fa-envelope-open-text"></span>
                                    MAIL: minhkhang811998@gmail.com
                                </p>
                                <p class="font-ram font-size-18 text-black-50">
                                    <span class="fas fa-map-marker alt"></span>
                                    ADDRESS: Can Tho, Viet Nam
                                </p>
                            </div>
                            <div class="col-md-6 px-4">
                                <h6 class="text-uppercase font-ram font-size-20">Get in touch</h6>
                                <form action="" class="py-3">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <textarea name="" id="" cols="30" rows="3" class="form-control my-4"
                                        placeholder="Message"></textarea>
                                    <button type="submit" class="button">Say Hello!</button>
                                </form>
                            </div>
                        </div>
                        <div class="row bg-light py-5">
                            <div class="col-md-4 my-5 text-center">
                                <h6 class="font-ram font-size-16 text-black-50">&copy;2020 TMK. All rights reserved
                                </h6>
                            </div>
                            <div class="col-md-4 my-4 text-center">
                                <div class="footer-title">
                                    <a href="#" class="navbar-brand font-staat font-size-40 text-dark">TMK</a>
                                    <p class="description font-os font-size-16 text-black-50 text-uppercase">Tran Minh Khang</p>
                                </div>
                            </div>
                            <div class="col-md-4 my-5 text-center">
                                <span class="mr-3"><i class="fab fa-facebook-f"></i></span>
                                <span class="mr-3"><i class="fab fa-twitter"></i></span>
                                <span class="mr-3"><i class="fab fa-instagram"></i></span>
                                <span class="mr-3"><i class="fab fa-youtube"></i></span>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
        integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>

    <script src="./vendor/typed/typed.min.js"></script>

    <script src="./index.js"></script>

    <script type="text/javascript" src="data.json">
        var myData = JSON.parse(data);

        console.log(myData);
    </script>

</body>

</html>